<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="https://www.f1.htw-berlin.de/" target="_blank">
            About Us
          </a>
                </li>
                <li>
                    <div class="copyright text-center">
                        A student project of
                        <a href="https://www.htw-berlin.de/" target="_blank">HTW-Berlin</a
            >, made with <i class="fa fa-heart heart"></i> for a better learning
          </div>
        </li>

            </ul>
        </nav>
        <div class="copyright">
            &copy; {{test | date: 'yyyy'}}, Template used from
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                    </div>
    </div>
</footer>